<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1" userInstalled="true" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1" userInstalled="true" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
</packages>