<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="6a7eed86-3baf-4051-b06a-84afcc1b9542"
            Publisher="CN=Andrew"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="6a7eed86-3baf-4051-b06a-84afcc1b9542" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Okra.Core.Tests.Universal</DisplayName>
    <PublisherDisplayName>Andrew</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App"
        Executable="vstest.executionengine.appcontainer.exe"
        EntryPoint="Microsoft.VisualStudio.TestPlatform.TestExecutor.AppContainer.App">
      <uap:VisualElements
        DisplayName="Okra.Core.Tests.Universal"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="Okra.Core.Tests.Universal"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
    <Application Id="vstest.executionengine.App"
        Executable="vstest.executionengine.appcontainer.exe"
        EntryPoint="vstest.executionengine.App">
      <uap:VisualElements
        DisplayName="Okra.Core.Tests.Universal"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="Okra.Core.Tests.Universal"
        ForegroundText="light"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
    <Application Id="vstest.executionengine.x86.App"
        Executable="vstest.executionengine.appcontainer.x86.exe"
        EntryPoint="vstest.executionengine.x86.App">
      <uap:VisualElements
        DisplayName="Okra.Core.Tests.Universal"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="Okra.Core.Tests.Universal"
        ForegroundText="light"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>